
/* Import Fonts From GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap');
/* Deafaults */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 10vh 20vh 10vh 20vh;
}
.container-header{
    padding: 5vh 20vh 5vh 20vh;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
p,a{
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color: #ffffff;;
}

/* Custom CSS */
.background-img{
    background-image: url(./img/bg1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    height: 100vh;
}
/* Header settings */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header nav .nav__links{
    list-style: none;
}
header nav .nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

/* Hero settings */
#hero{
    text-align: center;
    padding: 9% 25% 0 25%;
}
#hero h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* or 133% */
    color: #FFFFFF;
    padding-bottom: 50px;
    /* width: 9%; */
}
#hero p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

/* Main settings */
#main{
    text-align: center;
}
#main .pads{
    padding: 0 30% 0 30%;
}
#main h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
    padding: 50px 0;
}
#main .main-p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}
#main .double-side-texts{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}
#main .double-side-texts p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    width: 450px;
    text-align: left;
}
#main a{
    background-color: #55C2D8;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 50px 0;
}